*{
    margin: 0;
    padding: 0;
}
header{
    width: 99.85vw;
    border: 1px solid;
    height: 147px;
    box-shadow: 2px 20px 58px -53px black;
}
img.logo{
    box-shadow: 2px 20px 58px -53px black;
    border-radius: 100%;
    width: 200px;
    display: block;
    position: absolute;
    margin-left: auto;
}
